/* purgecss start ignore */
@tailwind  base;
@tailwind  components;
/* purgecss end ignore */
@tailwind utilities;

@import './preloader.css';

body {
  @apply m-0;
  @apply p-0;
  @apply box-border;
  @apply bg-blue-1000-tallround;
  font-family: Lato, sans-serif;
  scrollbar-color: #4a5568 #718096;
  scrollbar-width: thin;
}

#root {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}

.inner-height {
  height: calc(var(--vh, 1vh) * 100);
}

.bg-selected-characters {
  @apply bg-gray-400;
  @apply text-blue-1000-tallround
}

/* ScrollBar */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  @apply bg-gray-700;
}

::-webkit-scrollbar-thumb {
  @apply bg-gray-600;
}

::-webkit-scrollbar-corner  {
  @apply opacity-0;
}


/* Table */
.table-row:nth-child(even) {
  background-color: #4a556854;
}


/* Icons (Navbar) Shadow */
.box-shadow-hover:hover {
  filter: drop-shadow(0 0 3px rgba(255, 255, 255, 0.60));
}
.box-shadow-hover-2:hover {
  filter: drop-shadow(0 0 2px rgba(255, 255, 255, 0.50));
}
.box-shadow-focus:focus {
  filter: drop-shadow(0 0 3px rgba(255, 255, 255, 0.30));
}


// BarChart

.tick text {
  color: #4a5568;
}

.tick line {
  color: #4a5568;
}


